- height = DreamsHelper::IMAGE_HEIGHT
- width = DreamsHelper::IMAGE_WIDTH

-# Classes from _dream are used for consistent style
.dream.thumbnail.placeholder.pull-left{ :style => "width: #{width}px" }
  .content
    %span.fa-stack.number
      %i.fa.fa-circle.fa-stack-2x
      %i.fa.fa-inverse.fa-stack-1x= number
  .image
    %div.background{ :style => "height: #{height}px" }
    .caption
