<h2>Bucketlist</h2>

<p><%= link_to 'Add Dream', new_dream_path %></p>
<table>
  <% @dreams.each_with_index do |dream, index| %>
	<tr>
		<td><%= index + 1 %></td>
		<td><%= link_to dream.name, dream, :class => "dream" %></td>
		<td>|</td>
		<td><%= link_to 'Destroy', dream, :method => :delete %></td>
	</tr>
	<% end %>
</table>
