- mode = params[:edit] ? :editing : :listing

= render :partial => 'header', :locals => {:mode => mode}
.dreams
  - @dreams.each do |dream|
    .dream
      - if mode == :editing
        = link_to dream.name, edit_dream_path(dream)
        = button_to 'Delete', dream_path(dream), {:method => 'delete', :class => 'btn btn-danger'} do
          %i.icon-ok-sign.icon-2x
      - else
        = dream.name
