- @title = 'Dreams'
- mode = params[:edit] ? :editing : :listing
- state = DreamState.value_of(params[:state]) || DreamState::ALL

- content_for :header do
  .buttons.clear-fix
    - case mode
    - when :editing
      = link_to 'Done', dreams_path, :class => 'btn-link done pull-right'
    - when :listing
      = link_to new_dream_path, :class => 'new pull-right' do
        %i.icon-plus-sign.icon-2x
      - edit_options = params.slice(:state).merge(:edit => true)
      = link_to dreams_path(edit_options), :class => 'edit pull-right' do
        %span.icon-stack
          %i.icon-circle.icon-stack-base
          %i.icon-pencil.icon-light

%section.dreams.row-fluid.text-center
  %ul.nav.nav-pills
    - dream_tab DreamState::ALL, state
    - dream_tab DreamState::ACTIVE, state
    - dream_tab DreamState::FULFILLED, state

%section.dreams.row-fluid
  %ul.thumbnails
    = render :partial => 'dream', :collection => @dreams, :locals => {:mode => mode}
