- @title = 'Dreams'
- mode = params[:edit] ? :editing : :listing

- content_for :header do
  .buttons.pull-right
    - case mode
    - when :editing
      = link_to 'Done', dreams_path, :class => 'btn-link done'
    - when :listing
      - edit_options = params.merge(:edit => true)
      = link_to dreams_path(edit_options), :class => 'edit' do
        %span.icon-stack
          %i.icon-circle.icon-stack-base
          %i.icon-pencil.icon-light
      = link_to new_dream_path, :class => 'new' do
        %i.icon-plus-sign.icon-2x

%section.dreams.row
  .col-xs-12
    = render :partial => 'dream', :collection => @dreams, :locals => {:mode => mode}
