%header.clearfix
  %h1.pull-left Bucketlist
  = link_to new_dream_path, :class => 'pull-right' do
    %i.icon-plus-sign.icon-2x

.dreams
  - @dreams.each do |dream|
    .dream
      = link_to dream.name, edit_dream_path(dream)