<h2>Dream</h2>

<% if notice %>
<div id="notice" class="alert alert-success"><%= notice %></div>
<% end %>

<p><%= @dream.name %></p>

<%= link_to 'Edit', edit_dream_path(@dream) %> |
<%= link_to 'Back', dreams_path %>
