# bundler config
.bundle

# Foreman envionrment variables
Procfile.development
.env

# default SQLite database.
/db/*.sqlite3

# all logfiles and tempfiles.
/log/*.log
/tmp

# locally installed gems
/vendor/bundle
/vendor/cache
