.modal{:id => dialog_id, :tabindex => '-1', :role => 'dialog'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{:type => 'button', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'}
          &times;
        %h4.modal-title= dialog_title
      .modal-body
        = dialog_message
      .modal-footer
        %button{:type => 'button', :'data-dismiss' => 'modal', :class => 'btn btn-default'} Close
        %button{:type => 'button', :'data-dismiss' => 'modal', :class => 'btn btn-primary'} OK
