- show ||= [:alert, :notice, :warning]
- show = [show] unless show.respond_to?(:include?)

- if flash[:alert].present? && show.include?(:alert)
  .alert.alert-danger
    %i.fa.fa-exclamation-triangle
    = flash[:alert]
- if flash[:notice].present? && show.include?(:notice)
  .alert.alert-info
    %i.fa.fa-info-circle
    = flash[:notice]
- if flash[:warning].present? && show.include?(:warning)
  .alert.alert-warning
    %i.fa.fa-exclamation-circle
    = flash[:warning]
