- model ||= nil

- form_group_for(model, :email) do
  = f.label :email, 'Email:', :class => 'col-sm-2 control-label'
  .col-sm-4
    = f.text_field :email, :class => 'form-control'
    - error_for model, :email
- form_group_for(model, :password) do
  = f.label :password, 'Password:', :class => 'col-sm-2 control-label'
  .col-sm-4
    = f.password_field :password, :class => 'form-control'
    - error_for model, :password
