- content_for :body do
  .dream-splash
    .content
      = image_tag 'dreamgram.gif'
      .title
        %h1
          Dreamgram
        %h2
          What's on your bucket list?
        = link_to 'Get Started', dreams_path, :class => 'btn btn-primary'
