- content_for :body do
  .col-xs-offset-1.col-xs-10
    .dream-splash
      = image_tag 'dreamgram.gif'
      .title
        %h1
          Dreamgram
        %h2
          Share your dreams. Big and small.
        = link_to 'Get Started', dreams_path, :class => 'btn btn-primary'
