- content_for :body do
  .dream-splash
    .content
      = image_tag 'dreamgram.gif'
      .title
        %h1= t('.title')
        %h2= t('.subtitle')
        = link_to t('.signup'), new_user_registration_path, :class => 'btn btn-primary'
