<div class="center hero-unit">
	<div class="page-header">
		<h1>Dreamgram
			<small>Share your dreams. Big and small.</small>
		</h1>
  </div>
	<%= link_to "Get Started", dreams_path, :class => "btn btn-primary btn-large" %>
</div>