%h4
  Page Not Found
%p
  Oops! It looks like you've found a missing page. Our engineers have been notified of the issue and will try to
  resolve it as soon as possible. In the meantime, you can head back to the safety of the
  = link_to 'home page.', root_path
