%h4
  Internal Server Error
%p
  Oh no! Our server ran into an issue processing your request. Our engineers have been notified of the issue and will
  try to resolve it as soon as possible. In the meantime, you can head back to the safety of the
  = link_to 'home page.', root_path

