body
  font-family: Helvetica,sans-serif !important

button, i
  text-decoration: none

  &:hover
    text-decoration: none

footer
  color: rgb(180,180,180)
  padding-top: 10px
  margin-top: 40px
  text-align: right

form
  .secondary-link
    color: black
    display: block
    text-decoration: none
    &:hover
      text-decoration: underline

header
  margin: 25px 8px 40px

  h1
    display: inline-block
    font-size: 35px
    font-weight: 400
    margin-top: 5px
    white-space: nowrap

    a, a:hover
      color: black
      text-decoration: none

  .account-name
    font-weight: 300
    margin-left: 12px

  .header
    border-top: 2px solid black

.alert i
  font-size: 1.5em
  margin-right: 5px
  vertical-align: middle

.buttons
  font-size: 1.2em

.profile
  position: relative

  .brand
    position: absolute
    top: -8px

  .btn-link
    color: gray

  .login
    margin-right: 8px

  .navigation
    position: absolute
    right: -8px
    top: -2px

    a
      display: inline-block

    form
      display: inline-block

.subsection
  margin-bottom: 40px

.subtitle
  font-size: 16px

// Portrait tablet and larger
@media (min-width: 768px)
  body
    margin: 50px 30px

// Portrait tablet and smaller
@media (max-width: 767px)
  body
    margin: 20px

// Landscape phone and larger
@media (min-width: 480px)
  header h1
    float: left

// Landscape phone and smaller
@media (max-width: 479px)
  header
    h1
      display: block
      float: none !important

    .account-name
      line-height: 20px
      margin: 0 0 15px 0

    .buttons
      margin: 5px 0
