header
  .buttons
    margin: 15px 0 10px

  .done
    font-size: 0.9em

  .edit, .edit:hover
    color: rgb(255,211,84)

  .new, .new:hover
    color: rgb(51,217,88)

    i
      vertical-align: -22%

// Landscape phone and larger
@media (min-width: 480px)
  header .buttons
    float: right

// Landscape phone and smaller
@media (max-width: 480px)
  header .buttons
    float: none
    margin: 0
