.dream
  margin-left: 0 !important
  position: relative

  a
    color: inherit

  .completed-button
    bottom: 30px
    position: absolute
    right: 10px

    button
      color: rgb(245,245,245)
      padding: 0

      &:hover
        text-decoration: none

    .completed
      color: rgb(32,32,32)

  .edit-buttons
    left: -8px
    position: absolute
    top: -10px

    form
      display: inline-block

    .edit
      color: rgb(75,179,243)

    .remove
      color: rgb(245,26,26)
      display: inline-block
      font-size: 1em
      padding: 0

      &:hover
        text-decoration: none

  .thumbnail
    border: none
    border-radius: 0
    box-shadow: none

    .buttons
      font-size: 1em

    .caption
      height: 2em
      overflow: hidden

// Portrait tablet and larger
@media (min-width: 768px)
  .dream .thumbnail
    margin: 0 4px

// Portrait tablet and smaller
@media (max-width: 767px)
  .dream
    float: left !important

    .thumbnail
      margin: 0

// Landscape phone and smaller
@media (max-width: 480px)
  .dream
    float: none
