header
  a
    margin-left: 10px

  .buttons
    margin: 15px 0

  .edit .icon-stack-base
    color: rgb(255,190,0)

  .new
    color: rgb(51,217,88)

i
  text-decoration: none

  &:hover
    text-decoration: none
