@import "bootstrap"
@import "bootstrap-responsive"

body
  border-top: 2px solid black
  margin: 50px

.dream
  margin: 16px 0

  a
    color: inherit
    text-decoration: none

  &:hover
    text-decoration: underline

.dreams
  margin-top: 40px