.dream
  margin-top: -15px

  a
    color: inherit

  .buttons
    .dream-edit
      font-size: 1.25em
      margin-right: 10px

      &:hover
        color: black

    .dream-remove
      margin: 2px 0 0 10px

  .thumbnail
    border: none
    border-radius: 0
    box-shadow: none

    .caption
      height: 2em
      overflow: hidden

  .thumbnails
    li
      margin-left: 0

// Portrait tablet and larger
@media (min-width: 768px)
  .dream .thumbnail
    margin: 0 8px

// Portrait tablet and smaller
@media (max-width: 767px)
  .dream .thumbnail
    margin: 0
