.dream-splash
  position: absolute
  top: 50%

  .title
    h1
      font-weight: 300
      margin: 0

    h2
      color: rgb(164,164,164)
      font-weight: 300
      margin: 5px 0 15px

// Portrait tablet and larger
@media (min-width: 768px)
  .dream-splash
    margin-left: -290px
    margin-top: -100px

    img
      margin-right: 30px

    .title
      top: 10px

      h1
        font-size: 64px

      h2
        font-size: 30px

// Portrait tablet and smaller
@media (max-width: 767px)
  .dream-splash
    margin-left: -220px
    margin-top: -90px

    img
      margin-right: 20px

    .title
      top: 34px

      a
        font-size: 12px

      h1
        font-size: 40px

      h2
        font-size: 20px

// Portrait phone and larger
@media (min-width: 480px)
  .dream-splash
    left: 50%
    width: 100%

    img
      position: absolute

    .content
      position: relative

    .title
      left: 220px
      position: absolute

// Portrait phone and smaller
@media (max-width: 479px)
  .dream-splash
    margin-left: 0
    margin-top: -160px
