@import bootstrap
@import bootstrap-responsive
@import font-awesome

body
  font-family: museo-sans

header
  border-top: 2px solid black
  margin: 15px 8px 40px 8px

  .user-name
    color: rgb(112,112,112)
    font-weight: normal
    margin-left: 28px

button, i
  text-decoration: none

  &:hover
    text-decoration: none

section.profile
  position: relative

  form
    position: absolute
    right: -20px
    top: -15px

  .btn-link
    color: gray

.buttons
  font-size: 1.2em

.form-horizontal
  .control-label
    font-weight: bold
    width: 80px

  .controls
    margin-left: 100px

    p
      padding: 5px 0

// Portrait tablet and larger
@media (min-width: 768px)
  body
    margin: 50px 30px

// Portrait tablet and smaller
@media (max-width: 767px)
  body
    margin: 20px

  header .buttons a
    margin-left: 5px
