@import bootstrap
@import font-awesome

body
  font-family: museo-sans

header
  margin: 15px 8px 40px

  h1
    display: inline-block
    font-variant: small-caps
    font-weight: bold

  .header
    border-top: 2px solid black

  .user-name
    font-weight: normal
    margin-left: 28px

button, i
  text-decoration: none

  &:hover
    text-decoration: none

section.profile
  position: relative

  form
    position: absolute
    right: -12px
    top: -15px

  .btn-link
    color: gray

.buttons
  font-size: 1.2em

.form-horizontal
  .control-label
    font-weight: bold

// Portrait tablet and larger
@media (min-width: 768px)
  body
    margin: 50px 30px

// Portrait tablet and smaller
@media (max-width: 767px)
  body
    margin: 20px

// Landscape phone and smaller
@media (max-width: 480px)
  header
    h1
      display: block
      float: none !important

    .buttons
      margin: 5px 0

    .user-name
      line-height: 20px
      margin: 0 0 15px 0
