<p>Hello <%= @account.first_name %>!</p>

<p>We received a request to change your Dreamgram password. You can do this by clicking
<%= link_to 'this link', edit_account_password_url(:reset_password_token => @token) %>.</p>

<p>If you did not request a password reset, ignore this email. Your password will not change unless you create a new
one.</p>
